body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;

}
Header{
    background: #ebebeb;
    height: 75px;
    margin-bottom: 6px;
}
nav{
    background: #ebebeb;
    text-align: center;
}
h1{
    color: #777;
    background: #ebebeb;
    text-align: center;
}

section{
    width: 495px;
    height: 400px;
    background: #ebebeb;
    text-align: center;
    float: left;
    margin: 6px 1px;
}
article{
    color:#ebebeb;
    background: #777; 
    width: 450px;
    height: 300px;
    margin: auto;
}
#para_title{
    background: #ebebeb;
    color: #777;
    width:425px; 
    margin: auto;
    margin-bottom: 6px;
}
#para{
    background: #ebebeb;
    color: #777;
    width: 425px;
    height: 200px;
    margin: auto;
}

aside{
    background: #ebebeb;
    text-align: center;
    height: 400px;
    width: 450px;
    float:right;
    margin: 6px 1px;
}
footer{
    height: 100px;
    background: #ebebeb;
    padding-top:10px;
    text-align: center;
    clear: both;
}
